.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10%;
}

.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  list-style-type: none;

  margin: 25px 0;
  padding: 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background: rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 4px 4px #2f436884;
}

.activePagination {
  background: #97ce4c;
  box-shadow: 0px 0px 3px 2px #2f4368e7;
}

.controlsPagination, .controlsPaginationN {
  font-size: 20px;
}

@media(max-width: 600px) {
  .page {
    height: 20px;
    width: 20px;
    font-size: 16px;
  }
  .controlsPagination {
    position: absolute;
    top: 16px;
    font-size: 20px;
  }
  .controlsPagination:nth-child(1) {
    left: 0;
  }
  .controlsPaginationN {
    position: absolute;
    top: 16px;
    font-size: 20px;
    right: 0;
  }
}