.root {
  position: relative;
  margin-bottom: 25px;
  z-index: 1;
  width: 400px;
}

.input {
  position: relative;
  font-size: 16px;
  border: none;
  outline: none;

  box-shadow: 0px 0px 6px 3px #2f436884;
  border-radius: 5px;

  height: 24px;
  width: 100%;

  padding: 0 10px;
}

.itemsList {
  display: none;
  list-style-type: none;

  position: absolute;
  top: calc(100%);
  left: 0;

  background: white;
  box-shadow: 0px 0px 6px 3px #2f436884;

  padding: 10px 0;

  border-radius: 5px;
  width: 100%;

  & > li {
    padding: 0 10px 10px;

    & > button {
      font-size: 16px;
      width: 100%;

      background: none;
      border: none;
      outline: none;

      text-align: start;
    }

    &:hover {
      background: rgb(201, 201, 201);
    }
  }
}

.itemsList.isOpen {
  display: block;
}

.cross {
  position: absolute;
  top: 50%;
  right: 10px;

  transform: translateY(-50%);

  height: 12px;
  width: 12px;

  & > svg {
    height: 12px;
    width: 12px;

    fill: 'white';

    & > path {
      fill: white;
    }
  }
}

.cross.isOpen {
  display: block;
}

.submitButton {
  position: absolute;
  top: 50%;
  right: -80px;

  border-radius: 5px;
  background: #FAF76B;
  box-shadow: 0px 0px 2px #2f436884;
  height: 100%;

  transform: translateY(-50%);
  width: fit-content;

  z-index: -1;

  &:active {
    box-shadow: inset 0px 0px 2px #2f436884;
  }
}

.error {
  position: absolute;
  bottom: -25px;
  left: 0;
  color: #2F4368;
}

@media(max-width: 1024px) {
  .root {
    width: 300px;

    margin-bottom: 80px;
  }
  .submitButton {
    left: 0;
    right: 0;
    top: 65px;
  }
}

@media(max-width: 340px) {
  .root {
    width: 280px;
  }
  .input {
    font-size: 14px;
  }
}
