.root {
  display: grid;
  grid-template-columns: 20% 20% 60%;

  margin-bottom: 5px;

  & > span {
    position: relative;
    padding-left: 13px;
    grid-column-start: 1;

    & > input[type='checkbox'] {
      position: absolute;
      left: -13px;
    }
  }

  & > button {
    grid-column-start: 2;
    margin-left: 5px;
    height: 12px;
    & > svg {
      width: 12px;
      height: 12px;
    }
  }
}

.watched {
  text-decoration: line-through;
}

@media(max-width: 1024px) {
  .root {
    display: flex;
    align-items: center;
  }
}
